.brands {
  margin-top: 50px;
  background: url('../img/customers-background.png');
  max-height: 179px;
  margin-bottom: 100px;
}

.brands-blurb {
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  display: block;
  font-weight: 800;
}

.brand-list {
  padding: 20px;
  margin: auto;
  display: table;
  li {
    display: inline;
    margin: auto;
    img {
      height: 50px;
    }
  }
}
