.text-col {
  float: left;
  width: 500px;
  padding-top: 80px;

  h2 {
    font-size: 48px;
    font-weight: 800;

    em {
      font-style: normal;
      color: $appboy-red;
    }
  }

  small {
    font-size: 20px;
  }

  p {
    font-size: 24px;
  }

}

figure.img-col {
  float: right;
  width: 400px;
  padding-top: 40px;
  margin: auto;

  img {
    display: block;
    margin: auto;
    height: 400px;
  }
}
